<div class="common-component">
    <form [formGroup]="form">
    <input type="text" formControlName="addInfo" (keyup.enter)="updateInfoValue()"/>
    <select formControlName="dropDown">
            <option [value]="'number'">Number</option>
            <option [value]="'boolean'">Boolean</option>
            <option [value]="'string'">String</option>
            <option [value]="'Hexa Decimal'">Hexa Decimal</option>
            <option [value]="'binary'">Binary</option>
    </select>
    </form>
</div>
<div *ngIf="showError" id="alert">Select suitable type</div>
